.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.person-details {
  display: flex;
}

.items {
  list-style-type: none;
}
.first-letter {
  padding-right: 15px;
  background-color: lightblue;
  border-radius: 10px;
}
.name {
  padding-right: 15px;
}
.like-container {
  display: flex;
}

.last-container {
  display: flex;
  justify-content: space-between;
}

.icons {
  height: 16px;
  width: 16px;
}
